@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');


body {
    margin: 0px;
}

.nav {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 10px;
    position: sticky;
    top: 1;
    padding-left: 30px;
    box-shadow: 10px 2px 2px black;
}

.anchor {
    text-decoration: none;
    color: black;
}

.elements {
    list-style: none;
    padding-left: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-con{
    position: relative;
    left: 230px;
    bottom: 7px;
}

#search{
    font-size: 1.1rem;
    font-family: sans-serif;
    border-radius: 10px;
    width: 250px;
}

.sear{
    cursor: pointer;
}

.in-con{
    margin-left: 120px;
}

#log-btn{
    background-color: cornflowerblue;
    border: 0;
    font-size: 1rem;
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
}

#sig-btn{
    background-color: red;
    border: 0;
    font-size: 1rem;
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
}

#log-btn:hover{
    background-color: #333;
    color: white;
}

#sig-btn:hover{
    background-color: #333;
    color: white;
}

.branding{
    font-family: sans-serif;
    font-size: 1.1rem;
    margin-left: 50px;
    margin-top: 10px;
}

.social-con{
    font-size: 1.4rem;
    position: relative;
    left: 29%;
    margin-top: 8px;
}

.foot{
    margin-top: 200px;
    color: white;
    display: flex;
    background-color: #333;
    padding-top: 15px;
    padding-bottom: 10px;
}

.brand{
    margin-left: 5px;
    color: white;
}

.login-con{
    display: none;
    width: 30%;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    position: absolute;
    top: 200px;
    left: 35%;
    background-color: #333;
}

.login-con h3{
    color: cornflowerblue;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.input-con{
    margin-left: 70px;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.input-con input{
    font-size: 1.2rem;
}

#log-submit{
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-left: 70px;
    padding: 5px 97px;
    color: cornflowerblue;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.info{
    margin-left: 65px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.link{
    color: aqua;
}

.contact-con h3{
    margin: 0px;
    font-family: sans-serif;
}

.contact-con{
    position: relative;
    left: 180px;
}

.contact-con input{
    font-size: 1.1rem;
    font-family: sans-serif;
}

#submit{
    font-size: 1.1rem;
    font-family: sans-serif;
    color: cornflowerblue;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}


